<p>edit works!</p>
<div>
    ID       : -   <input type="text" name="empid" [(ngModel)]="emps.empid"><br><br>
    NAME     : -   <input type="text" name="name"  [(ngModel)]="emps.name"><br><br>
    ADDRESS  : -   <input type="text" name="address"  [(ngModel)]="emps.address"><br><br>
    USERNAME : -   <input type="text" name="uname" [(ngModel)]="emps.uname"><br><br>
    PASSWORD : -   <input type="text" name="pass"  [(ngModel)]="emps.pass"><br><br>
   <input type="submit" value="Update" (click)="onUpdate()">
   </div>