<p>register works!</p>


Name: <input type="text" name="name" placeholder="Enter the name" [(ngModel)]="emp.name"><br><br>
Address: <input type="text" name="name" placeholder="Enter the address" [(ngModel)]="emp.address"><br><br>
UserName: <input type="text" name="name" placeholder="Enter the username" [(ngModel)]="emp.uname"><br><br>
Password: <input type="text" name="name" placeholder="Enter the password" [(ngModel)]="emp.pass"><br><br>
    <input type="submit" value="Register" (click)="onReg()"><br><br>

